/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Docker on local galaxy machiene in DZNE Tuebingen
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and docker image id.
 */

docker {
  enabled = true
  container = nfcore/smrnaseq
}

params {
  max_memory = 120.GB
  max_cpus = 20
}

igenomes_base = 's3://ngi-igenomes/igenomes/'
