/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Docker on local galaxy machiene in DZNE Tuebingen
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and docker image id.
 */

docker {
  enabled = true
  container = 'nfcore/smrnaseq'
}

params {
  max_memory = 120.GB
  max_cpus = 20

  // Input data
  readPaths = [
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/testdata/sample_1.fastq.gz',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/testdata/sample_2.fastq.gz',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/testdata/sample_3.fastq.gz'
  ]
/*  // Genome references
  bt2indices = [
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.1.bt2',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.2.bt2',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.3.bt2',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.4.bt2',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.rev.1.bt2',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.rev.1.bt2'
  ]
  gtf = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genes.gtf'
  mature = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/mature.fa'
  hairpin = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/hairpin.fa'
  */

  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
